html{
    font-family: inherit;
}
body {
    font: inherit;
    font-size: 32px;
    background-color: greenyellow;
    text-align: center;
}
h1{
    color: #000d48;
    font-family: impact;
    padding-top: 5px;
}
.topnav{
    color: darkslateblue;
    border: 2px groove midnightblue;

}
.tab{
    border: none;

}
.container{
    background-color: lightcoral;
    border: 5px groove yellow;
}
button{
    background-color: #000000;
    color: #5a6eb1;
    padding: 0em 1.2em;
}
